<!DOCTYPE html>
<html>
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" type = "text/css" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" type = "text/css" href="/static/css/custom.css">
    <title>Cloud Blockchain Application</title>

</head>

<body>
  <div class = "header">
    <nav class="navbar navbar-expand-lg">
      <a class = "nav-link" href = "/">Trading Card Transactions</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class = "nav-link" href = "/newTransaction">Submit a transaction</a>
          </li>
          <li class="nav-item">
            <a class = "nav-link" href = "/addNode">Add Node</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <br>
  <div class = "container-fluid" id = "mainContentContainer">
    <h1>Trading Card Transactions</h1>
  <div class = "row-fluid" id = "mainContent">
    <div class="container-fluid">
      <div class = "row justify-content-md-center">
        <div class = "col-3">
          <button class = "btn btn-default" onclick = "displayChain()">Update local version</button>
        </div>
        <div class = "col-3">
          <button class = "btn btn-default">Create a Block</button>
        </div>
      </div>
      <br>
      <div class = "row">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Sender</th>
              <th scope="col">Recipient</th>
              <th scope="col">Cards</th>
            </tr>
          </thead>
          <tbody id = "chainTransactions">
          </tbody>
        </table>
      </div>
    </div>



    <!-- Latest compiled and minified JavaScript for bootstrap-->
    <script src="/static/js/bootstrap.min.js"></script>
    <!-- link to custom js file -->
    <script src="/static/js/custom.js"></script>
    <script>
      $(document).ready(function(){
        function displayChain(){
          let chainUrl='/chain';
          $.ajax({
            url:chainUrl,
            type:"GET",
            success: function(result){
              //on success, print current chain of transactions as a table
              let transactions = result["chain"]["transactions"];
              let tableBuffer = "";
              transactions.forEach(function(transaction){
                tableBuffer += "<tr>";
                tableBuffer += transaction["sender"];
                tableBuffer += transaction["recipient"];
                tableBuffer += transaction["cards"];
                tableBuffer += "</tr>";
              })
              document.getElementById("chainTransactions").innerHTML = tableBuffer;
            },
            error:function(error){
              console.log('Error ${error}');
            }
          })
        }
      });


    </script>
</body>
</html>