<!DOCTYPE html>
<html>
<head>
    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" type = "text/css" href="static/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" type = "text/css" href="/static/css/custom.css">
    <title>Cloud Blockchain Application</title>
    <link rel="icon" href="/static/images/favicon.ico">

</head>

<body>
    <div id = "header"></div>
    <br>
    <div id = "dynamicNavDropdown" class = "col-md-3"></div>
    <br>
    <div class = "container-fluid" id = "mainContentContainer">
    <div class = "row-fluid" id = "mainContent">
      <div class="container-fluid">
      </div>



    <div id = "footer"></div>
    <!-- Latest compiled and minified JavaScript for bootstrap-->
    <script src="/static/js/bootstrap.min.js"></script>
    <!-- link to custom js file -->
    <script src="/static/js/custom.js"></script>

</body>
</html>