<!DOCTYPE html>
<html>
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" type = "text/css" href="static/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" type = "text/css" href="/static/css/custom.css">
    <title>Cloud Blockchain Application</title>
    <link rel="icon" href="/static/images/favicon.ico">

</head>

<body>
    <div id = "header">
      <div class = "container-fluid header no-gutters">
        <div class = "row">
          <div class = "col-10">
            <ul class = "nav-bar" id = "navigation-bar">
              <!-- Here is where navigation will go once it is built. We should look into dynamic navigation -->
              <li class = "nav-item">
                <a class = "nav-link" href = "/">Trading Card Transactions</a>
              </li>
              <li class = "nav-item">
                <a class = "nav-link" href = "/newTransaction">Submit a transaction</a>
              </li>
            </ul>
          </div>
    </div>
  </div>
    </div>
    <br>
    <div class = "container-fluid" id = "mainContentContainer">
    <div class = "row-fluid" id = "mainContent">
      <div class="container-fluid">
      </div>



    <div id = "footer"></div>
    <!-- Latest compiled and minified JavaScript for bootstrap-->
    <script src="/static/js/bootstrap.min.js"></script>
    <!-- link to custom js file -->
    <script src="/static/js/custom.js"></script>

</body>
</html>