<!DOCTYPE html>
<html>
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" type = "text/css" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" type = "text/css" href="/static/css/custom.css">
    <title>New Transaction</title>

</head>

<body>
  <div class = "header">
    <nav class="navbar navbar-expand-lg">
      <a class = "nav-link" href = "/">Trading Card Transactions</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class = "nav-link" href = "/newTransaction">Submit a transaction</a>
          </li>
          <li class="nav-item">
            <a class = "nav-link" href = "/addNode">Add Node</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <br>
  <div class = "container-fluid" id = "mainContentContainer">
    <h1>Submit a New Transaction</h1>
  <div class = "row-fluid" id = "mainContent">
    <div class="container-fluid">
      <div class = "row justify-content-md-center">
        <form onsubmit = "postTransaction()" id = "transactionForm">
          <div class="form-group row">
            <label for="sender">Sender</label>
            <input type="text" class="form-control" id="sender"placeholder="Sender">
          </div>
          <div class="form-group row">
            <label for="recipient">Recipient</label>
            <input type="text" class="form-control" id="recipient" placeholder="Recipient">
          </div>
          <div class="form-group row">
            <label for="cardList">Cards</label>
            <select multiple class="form-control" id="cardList">
              <option>Plains</option>
              <option>Island</option>
              <option>Swamp</option>
              <option>Mountain</option>
              <option>Forest</option>
            </select>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>



    <!-- Latest compiled and minified JavaScript for bootstrap-->
    <script src="/static/js/bootstrap.min.js"></script>
    <!-- link to custom js file -->
    <script src="/static/js/custom.js"></script>
    <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
    <script>
      $("#transactionForm").submit(function(e) {
          e.preventDefault();
      });
      function postTransaction(){
        var transJSON = {
          sender:     $("#sender").val(), 
          recipient:  $("#recipient").val(), 
          cards:      $("#cardList").val()
        };
        console.log(transJSON)
        $.ajax({
          url:'/transactions/new',
          type:'POST',
          contentType:'application/json',
          data:JSON.stringify(transJSON),
          processData:false
        }).done(function(result){
          alert(result.message);
          $("#transactionForm").reset();
        }).fail(function(err){
          alert(err.responseText);
        })
      }
    </script>

</body>
</html>